.app-general {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  height: calc(90vh);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
